*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
nav {
    width: 100%; 
    background-color: #5f5959; 
    
}
ul {

    display: flex; 
    list-style-type: none;
}
ul li a {
    display: inline-block; 
    padding: 1rem;
    color: aliceblue;
}
ul li a:hover {
    background-color: rgb(106, 147, 179);
    color: #e33a18;
    border-radius: 45%;
}
.sag {
  margin-left: auto; 
    display: inline-flex;
}
.container{
    display: flex;
}
.iletisim{
    display: flex;
    flex-direction: column;
    width: 100%;   
}
.iletisim h1{
    text-align: center;
}
.iletisim h4{
    margin-top: 2rem;
    text-align: center;
}
.iletisim .email{
    margin-top: 2rem;
    align-self: center;
}

.kapsayici{
    background-color:white ;
}


