/*Nav-Bar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
nav {
    width: 100%; 
    background-color: #5f5959; 
    
}
ul {

    display: flex; 
    list-style-type: none;
}
ul li a {
    display: inline-block; 
    padding: 1rem;
    color: aliceblue;
}
ul li a:hover {
    background-color: rgb(106, 147, 179);
    color: #e33a18;
    border-radius: 45%;
}
.sag {
  margin-left: auto; 
    display: inline-flex;
}


.container{
    display: flex;
    width: 100%;      
}
.container .foto{
    display: flex;
}
.container .foto img{ 
    width: 20%;
    align-self: center;
    border-radius: 50%;

}
h1{
    text-align: center;
}
.yazi{
    padding: 5rem;
}
.foto .yazi p{  
    width: auto;
    text-align: center;
}
.kapsayici{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    
}

.nav-bar h1{
    margin-left: 1rem;
    margin-top: 0.5rem;
    text-align: center;
    color: white;

}
.kapsayici img{
    margin-bottom: 3rem;
    align-self: center;
    width: 50%;
}
.isler{
    width: 100%;
}
.ilk{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ikinci{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    width: 100%;
    background-color:#625b5b;
    margin-top: 5rem;
}

.footer li {
    list-style: none;
}

.footer .container-flex {
    display: flex; padding: 1rem;
}

.sosyal-medya {
    align-self: center; 
    text-align: center; 
}
.sosyal-medya li { 
    display: inline-block; 
    padding: 10px;
}
.sosyal-medya li i { 
    color: #d8d8d8;
}

.footer .navigasyon, .sosyal-medya {
     flex-grow: 1;
    }
.footer .navigasyon { 
    border-right: 3px solid white; 
}
.footer .navigasyon li a { 
    color: #eeeeee;  
    font-size: large;
}
.footer .navigasyon ul { 
    justify-content: center;
}

@media screen and (max-width: 530px) {       
    nav ul { flex-direction: column;}
    .right { margin-left: 0; display: block;}
    .content { flex-direction: column;}
    .content .box {
      width: 100%;
    }      
    .footer .container-flex { flex-direction: column;}
    .footer .container-flex .navigasyon { border-right: none;}
    }                
@media screen and (max-width: 280px) {        
    .footer .navigasyon { text-align: center;}
    .footer .navigasyon ul { flex-direction: column; justify-content: flex-start;}
    .footer .sosyal-medya {
      width: 100%;
      border-top: 2px solid white;
      margin-top: 11px;
    }
    .footer .sosyal-medya li { padding: 20px;}
    }

    @media screen and (max-width:530px) {
        .container .foto img{
            flex-direction: column;
            width: 100%;
        }
        .container .foto{
            flex-direction: column;
        }
        .kapsayici img{
            width: 100%;
        }
        .yazi {
            padding: 0;
            width: auto;
            margin-bottom: 3rem;
            margin-top: 2rem;
        }
        
    }