*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 2000px;
    background-color: rgb(96, 140, 212);  
    background-size: 100% auto;
    background-position: top center;
    background-attachment: fixed; 
    background-repeat:initial; 
}

.container input{
    display: inline-block;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}
.container label{
    
    color: rgb(193, 193, 193);
    display: block;
    text-align: center; 
}
.buton {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  .container button{
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}
